.logo {
    width: 1000px;
}

body {
	font-family: Helvetica,Arial,sans-serif;
}

.green-color {
    background-color: green;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.nav-bar {
    position: fixed;
}